    <header>
        <a href="" class="logo">&#128512 groceri emoji</a>
        <div class="nav-items">  
            <a href="/fruits">fruits</a> | <a href="">type of food</a> | <a href="">type of food</a> | <a href="">type of food</a>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col s4"><hr></div>
                <div class="col s4"><h5>type of food</h5></div>
            <div class="col s4"><hr></div>
        </div>
<div class="row">
            {{#each fruit}}
                <a class="btn {{noSpaces}}" href="#{{noSpaces}}">{{{dataValues.emoji}}} {{{dataValues.description}}}</a>
                <div id="{{noSpaces}}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                      <h4>{{{dataValues.emoji}}} {{{dataValues.description}}}</h4>
                        <p class="food-type">{{{dataValues.subgroup}}} </p>
                            <h5>{{{Price}}}</h5>
                        <p class="recipe">Future goal: Recipe with food</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action to-cart btn">&#128722 &nbsp; Add to Cart</a>
                      <a href="#!" class="modal-action modal-close btn">&#128533 &nbsp; Close</a>
                </div>
        </div>
            {{/each}}
        </div>
    </div>
    <script>
      $(document).ready(function(){
          $(‘.modal’).modal();
        })
      </script>